NLA_API_BASE_URL=https://api.nla.am/server/api
NLA_ALLOWED_HOST=api.nla.am
NLA_HTTP_TIMEOUT_MS=15000
NLA_MAX_PAGE_SIZE=50
NLA_MAX_METADATA_BYTES=2097152
NLA_MAX_TEXT_CHARS=50000
NLA_MAX_INLINE_BINARY_BYTES=2097152
NLA_MAX_CONCURRENCY=6
NLA_MAX_REDIRECTS=3
NLA_MAX_RETRIES=3
NLA_CACHE_ENABLED=true
NLA_CACHE_TTL_MS=30000
NLA_ENABLE_FILE_WRITES=false
NLA_DOWNLOAD_DIR=
MCP_TRANSPORT=stdio
MCP_HOST=127.0.0.1
MCP_PORT=3000
