NLA_API_BASE_URL=https://api.nla.am/server/api
NLA_ALLOWED_HOST=api.nla.am
NLA_HTTP_TIMEOUT_MS=15000
NLA_MAX_PAGE_SIZE=50
NLA_MAX_METADATA_BYTES=2097152
NLA_MAX_TEXT_BYTES=8388608
NLA_MAX_TEXT_CHARS=50000
NLA_MAX_INLINE_BINARY_BYTES=2097152
NLA_MAX_CONCURRENCY=6
NLA_MAX_REDIRECTS=3
NLA_MAX_RETRIES=3
NLA_METRICS_MODE=none
NLA_CACHE_ENABLED=true
NLA_CACHE_TTL_MS=30000
NLA_CACHE_MAX_ENTRIES=128
NLA_CACHE_MAX_BYTES=16777216
MCP_TRANSPORT=stdio
MCP_HOST=127.0.0.1
MCP_PORT=3000
MCP_ALLOWED_HOSTS=127.0.0.1,localhost
MCP_ALLOWED_ORIGINS=http://127.0.0.1:3000,http://localhost:3000
MCP_AUTH_MODE=local
MCP_BEARER_TOKEN=
MCP_MAX_REQUEST_BYTES=1048576
MCP_BODY_TIMEOUT_MS=10000
MCP_MAX_IN_FLIGHT=32
MCP_MAX_IN_FLIGHT_PER_CLIENT=4
MCP_RATE_LIMIT_WINDOW_MS=60000
MCP_RATE_LIMIT_PER_CLIENT=60
MCP_RATE_LIMIT_GLOBAL=600
MCP_RATE_LIMIT_MAX_IDENTITIES=2048
MCP_TRUST_PROXY=false
